# Markdown content
/html/sites/
/html/index.html

# Specific config
/html/app.json

# Generated assets
/html/assets/navigation.json
/html/assets/search-index.json


# Ignore debug folder
debug/

# Ignore SRC
src/*
# But include
!src/DocAtlas/