<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>DocAtlas</title>
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="lib/highlight.min.css">		
	</head>
	<body>
		<div id="da-sidebar-div">
			<div id="da-logo-div"></div>
			<div id="da-homeAndSearchbar-div">
				<button id="da-home-btn" title="Home">🏠</button>
				<div id="da-searchBox-div">
					<input id="da-searchBox-ipt" type="text" placeholder="Search..." />
				</div>
			</div>

			<div id="da-navigation-div"></div>
			<button id="da-themeToggle-btn" title="Theme wechseln">🌓</button>
		</div>
		
		<div id="da-search-panel">
			<button id="da-search-close" title="Schließen">✕</button>
			<div id="da-search-panel-inner"></div>
		</div>
		<button id="da-search-flag" title="Suchergebnisse anzeigen">&#8981</button>

		<div id="da-content-div">Lade...</div>
			
		<!-- lokal -->
		<script src="lib/minisearch.min.js"></script>
		<script src="lib/highlight.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>